    /* @keyframes scrollBooks {
      0% { transform: translateX(0); }
      100% { transform: translateX(-50%); }
    }
    .scrolling-wrapper {
      animation: scrollBooks 25s linear infinite;
    } */
    /* .scrolling-wrapper:hover {
      animation-play-state: paused;
    } */
@keyframes fadeInBlur {
  from {
    opacity: 0;
    filter: blur(4px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}
body {
  animation: fadeInBlur 3s ease forwards;
}
.wave {
  background: url('wave.svg') repeat-x;
  background-size: cover;
  opacity: 0.5;
}

.wave1 {
  animation: waveMove1 2s linear infinite;
}
.wave2 {
  animation: waveMove2 4s linear infinite reverse;
  opacity: 0.3;
}
@keyframes waveMove1 {
  from { background-position-x: 0; }
  to   { background-position-x: 1000px; }
}

@keyframes waveMove2 {
  from { background-position-x: 0; }
  to   { background-position-x: -1000px; }
}